<!DOCTYPE html>
<html lang="en-au">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>.{{tld}}/ domains</title>
    <meta name="description" content=".{{tld}}/ domains">
    <link rel="icon" type="image/png" sizes="1024x1024" href="assets/img/favicon.png">
    <link rel="icon" type="image/png" sizes="1024x1024" href="assets/img/favicon.png">
    <link rel="icon" type="image/png" sizes="1024x1024" href="assets/img/favicon.png">
    <link rel="icon" type="image/png" sizes="1024x1024" href="assets/img/favicon.png">
    <link rel="icon" type="image/png" sizes="1024x1024" href="assets/img/favicon.png">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/404.css">
</head>

<body><!-- partial:index.partial.html -->
<p>HTTP: <span>404</span></p>
<div style="text-align: center;">
    <div style="display: inline-block;text-align: left;">
<code><span>this_page</span>.<em>not_found</em> = true;</code>
<code><span>if</span> (<b>you_spelt_it_wrong</b>){<br><span>autocorrect</span>.<em>enable</em>();<br>}</code>
<code><span>else if</span> (!<em>exists</em>(<b>location</b>)){<br><em>alert</em>(<i>"You're lost! I'll send you back home"</i>);<br><span>window</span>.<em>location</em> = home;<br>}</code>

</div>
    </div>
<!-- partial -->

  <script type="text/javascript">
    function callback(){
    return function(){
        alert("You're lost! I'll send you back home");
        window.location = '/';
    }
}
var a = "world";
setTimeout(callback(), 5000);    

    </script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/404.js"></script>
</body>

</html>