<!DOCTYPE html>
<html lang="en" style="color: white;">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>.{{tld}}/ domains</title>
    <meta name="description" content=".{{tld}}/ domains">
    <link rel="icon" type="image/png" sizes="1024x1024" href="assets/img/favicon.png">
    <link rel="icon" type="image/png" sizes="1024x1024" href="assets/img/favicon.png">
    <link rel="icon" type="image/png" sizes="1024x1024" href="assets/img/favicon.png">
    <link rel="icon" type="image/png" sizes="1024x1024" href="assets/img/favicon.png">
    <link rel="icon" type="image/png" sizes="1024x1024" href="assets/img/favicon.png">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/index.css">
</head>

<body style="background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5) 100%), url(&quot;assets/img/background.jpg&quot;) no-repeat, #000000;background-size: auto, cover, auto;color: white;">
    <nav class="navbar navbar-dark navbar-expand">
        <div class="container-fluid"><a class="navbar-brand" href="/" style="font-size: 30px;font-weight: bold;color: white;">.{{tld}}/</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav ms-auto" style="font-size: 20px;font-weight: bold;">
                    <li class="nav-item"><a class="nav-link" href="https://domains.hns.au/tld/{{tld}}">Get yourname.{{tld}}/</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <header>
        <div class="container">
            <div style="text-align: center;margin-top: 50px;">
                <h1 class="display-1 text-center" style="font-weight: bold;margin: 0px;">.{{tld}}/ domains</h1><span style="font-weight: bold;font-size: 40px;"><br>The domain name for your next project<br><br></span>
            </div>
        </div>
    </header>
    <section style="margin-top: 75px;font-size: larger;">
        <div class="text-center" id="pricing">
            <p class="text-center" style="font-weight: bold;">.{{tld}}/ domains now available for registration at HNSAU.</p>
            <span>Get yourname.{{tld}}/</span>
            <p class="text-center" style="font-weight: bold;">{{sales}} .{{tld}}/ domains claimed so far</p>
        </div>
    </section>
    <footer style="font-size: 25px;background: black;color: white;margin-top: 250px;">
        <span>© {{year}} .{{tld}}/</span>
        <style>
            /* Hide right footer on mobiles */
            @media (max-width: 768px) {
                .right-footer {
                    display: none;
                }
            }
        </style>
        <span class="right-footer">
            Domains by 
            <a href="https://hns.au" target="_blank">HNSAU/</a>
        </span>
    </footer>
    {{https_redirect | safe}}
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>